**/*.put
**/*.par
**/*.txt
**/*.~*
**/*.gdx
**/*.lst
**/*.lxi
**/*.accdb
**/*.xlxs
**/*.log
**/225*/*
**/build/*
!**/build/data/
**/*.sublime-workspace
db/
*.jams
**/results/*
**/*.tmp
